bin/
obj/
/.vs/
*.user
*.rsuser
*.suo
*.userprefs
/bin/
/obj/
*.log
*.tlog
*.pidb
*.mdb
*.cache
*.tmp
*.dbmdl
*.jfm
out/
publish/
artifacts/
node_modules/
packages/
*.nupkg
*.snupkg
.nuget/
.idea/
coverage/


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
